{% lare_extends "account/__base.html" LARE_PREFIX ~ ".Account" "__lare.html" %}
{% block page_title %}{% _"Profile" %}{% endblock %}
{% block breadcrumbs %}<li><a href="{% url 'account:profile' %}"><strong>{% _"Profile" %}</strong></a></li>{% endblock breadcrumbs %}
{% block content %}
    <div id="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    <h1 class="page-header">{% _"Profile" %}</h1>
                    <form class="form api-form form-horizontal" role="form" action="{% url 'api:profile' %}" method="PUT" enctype="multipart/form-data">
                        <input type="hidden" name="userid" value="{{ Account.get_user_id }}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="id_username">{% _"Username" %}:*</label>
                            <div class="col-sm-9"><input type="text" name="username" id="id_username" class="form-control" value="{{ Account.get_user.username }}" placeholder="" required=""></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="id_email">{% _"E-mail" %}:*</label>
                            <div class="col-sm-9"><input type="email" name="email" id="id_email" class="form-control" value="{{ Account.get_user.email }}" placeholder="" required=""></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="id_password">{% _"Password" %}:**</label>
                            <div class="col-sm-9"><input type="password" name="password" id="id_password" class="form-control" value="" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="id_password_repeat">{% _"Password again" %}:**</label>
                            <div class="col-sm-9"><input type="password" name="password_repeat" id="id_password_repeat" class="form-control" value="" placeholder=""></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <p class="small">* {% _"Those fields are required." %}</p>
                                <p class="small">** {% _"If you leave these fields blank, they will not be udpated." %}</p>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fom-control">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button class="btn btn-primary" type="submit">{% _"Save" %}</button>
                                    <button class="btn btn-default" type="reset">{% _"Reset" %}</button>
                                </div>
                            </div>
                        </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
