RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
Header add Access-Control-Allow-Credentials "true"

# prevent direct access to any file except static folder
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} !^.*/static/.*$
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule (.*) / [R=404,L,NC]

# deny direct access to views
RewriteCond %{REQUEST_URI} ^/views/.*$
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule (.*) / [R=404,L,NC]

# for URLS_PY append ###namespace### in line
#URLS_PY START#
RewriteRule ^$ views/index.php [L] ###home###
RewriteRule ^activate/([^/\.]+)/?$ views/activate.php?activation_key=$1 [L] ###activate####
RewriteRule ^activate/$ views/activate.php [L] ###activate####

RewriteRule ^forgot-password/$ views/forgot_password.php [L] ###forgot_password###
RewriteRule ^logout/$ views/logout.php [L] ###logout###
RewriteRule ^login/$ views/login.php [L] ###login###
RewriteRule ^register/$ views/register.php [L] ###register###

# backend urls
RewriteRule ^account/$ views/account/index.php [L] ###account###
RewriteRule ^account/activate/$ views/account/activate.php [L] ###account:activate###
RewriteRule ^account/profile/$ views/account/profile.php [L] ###account:profile###
RewriteRule ^account/users/$ views/account/users.php [L] ###account:users###
RewriteRule ^account/user/([^/\.]+)/?$ views/account/user.php?id=$1 [L] ###account:user###

# api urls
RewriteRule ^api/account/activate/$ vendor/iekadou/quickies/lib/Quickies/api_views/activate.php [L] ###api:account:activate###
RewriteRule ^api/forgot-password/$ vendor/iekadou/quickies/lib/Quickies/api_views/forgot_password.php [L] ###api:forgot_password###
RewriteRule ^api/login/$ vendor/iekadou/quickies/lib/Quickies/api_views/login.php [L] ###api:login###
RewriteRule ^api/profile/$ vendor/iekadou/quickies/lib/Quickies/api_views/profile.php [L] ###api:profile###
RewriteRule ^api/register/$ vendor/iekadou/quickies/lib/Quickies/api_views/register.php [L] ###api:register###
RewriteRule ^api/user/$ vendor/iekadou/quickies/lib/Quickies/api_views/user.php [L] ###api:user###
RewriteRule ^api/user/([^/\.]+)/?$ vendor/iekadou/quickies/lib/Quickies/api_views/user.php?id=$1 [L] ###api:user###

# articles
RewriteRule ^api/article/$ api_views/article.php [L] ###api:article###
RewriteRule ^api/article/([^/\.]+)/?$ api_views/article.php?id=$1 [L] ###api:article###
RewriteRule ^articles/$ views/articles.php [L] ###articles####
RewriteRule ^article/([^/\.]+)/?$ views/article.php?slug=$1 [L] ###article###
RewriteRule ^account/articles/$ views/account/articles.php [L] ###account:articles###
RewriteRule ^account/article/([^/\.]+)/?$ views/account/article.php?id=$1 [L] ###account:article###
#URLS_PY END#

# static/js/tinymce should link to vendor tinymce.
RewriteRule ^static/js/tinymce/(.*)$ vendor/tinymce/tinymce/$1 [L]

# deny direct access to api
RewriteCond %{REQUEST_URI} ^/api_views/*$
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule (.*) / [R=404,L,NC]

# deny direct access to vendor
RewriteCond %{REQUEST_URI} ^/vendor/.*$
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule (.*) / [R=404,L,NC]

# restrictions
RewriteRule ^classes/.*$ - [R=404,L,NC]
RewriteRule ^config/.*$ - [R=404,L,NC]
RewriteRule ^inc/.*$ - [R=404,L,NC]
RewriteRule ^templates/.*$ - [R=404,L,NC]
RewriteRule ^migrations/.*$ - [R=404,L,NC]

# appending trailing slash if no file found
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^(.*[^/])$ /$1/ [L,R]

# setting INCLUDE_PHP_PATH to prevent too relative paths
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*?)/?\1$
RewriteRule ^.*$ - [E=INCLUDE_PHP_PATH:%{DOCUMENT_ROOT}%2/inc/include.php]

ErrorDocument 404 /views/_errors/404.php
