{% lare_extends "__base.html" LARE_PREFIX "__lare.html" %}
{% block page %}
    <div id="page">
        <div class="home-hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>404</h1>
                        <h3>Page Not Found</h3>
                        <div>
                            Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}
