<div class="row form-wrapper">
    {% for key, value in render_fields %}
        <div class="form-group {% if xs_cols %}col-xs-{{ xs_cols }}{% endif %} {% if sm_cols %}col-sm-{{ sm_cols }}{% else %}col-sm-6{% endif %} {% if md_cols %}col-md-{{ md_cols }}{% endif %} {% if lg_cols %}col-lg-{{ lg_cols }}{% endif %} {% if not value.opts.dependent_status %} hide{% endif %}" data-name="{{ key }}" data-dependent-on="{{ value.opts.dependent_on }}" data-dependent-value="{{ value.opts.dependent_value }}" style="position: relative;">
            {% if value.opts.type == "Iekadou\\Quickies\\VarcharField" %}
            {% if value.opts.verbose_name %}<label class="control-label" for="id_{{ key }}">{{ value.opts.verbose_name }}{% if value.opts.required %}*{% endif %}: {% include "_include/_helptext_info_btn.html" %}</label><br>{% endif %}
            <input type="text" class="form-control" id="id_{{ key }}" name="{{ key }}" value="{{ value.value }}" placeholder="{{ value.opts.placeholder }}">
            {% endif %}
            {% if value.opts.type == "Iekadou\\Quickies\\UrlField" %}
            {% if value.opts.verbose_name %}<label class="control-label" for="id_{{ key }}">{{ value.opts.verbose_name }}{% if value.opts.required %}*{% endif %}: {% include "_include/_helptext_info_btn.html" %}</label><br>{% endif %}
            <input type="text" class="form-control" id="id_{{ key }}" name="{{ key }}" value="{{ value.value }}" placeholder="{{ value.opts.placeholder }}">
            {% endif %}
            {% if value.opts.type == "Iekadou\\Quickies\\IntegerField" %}
            {% if value.opts.verbose_name %}<label class="control-label" for="id_{{ key }}">{{ value.opts.verbose_name }}{% if value.opts.required %}*{% endif %}: {% include "_include/_helptext_info_btn.html" %}</label><br>{% endif %}
            <input type="number" class="form-control" id="id_{{ key }}" name="{{ key }}" value="{{ value.value }}" placeholder="{{ value.opts.placeholder }}">
            {% endif %}
            {% if value.opts.type == "Iekadou\\Quickies\\DecimalField" %}
            {% if value.opts.verbose_name %}<label class="control-label" for="id_{{ key }}">{{ value.opts.verbose_name }}{% if value.opts.required %}*{% endif %}: {% include "_include/_helptext_info_btn.html" %}</label><br>{% endif %}
                <input type="text" class="form-control" id="id_{{ key }}" name="{{ key }}" value="{{ value.value }}" placeholder="{{ value.opts.placeholder }}">
            {% endif %}
            {% if value.opts.type == "Iekadou\\Quickies\\IntegerChoiceField" %}
                {% if value.choices|length != 2 %}
            {% if value.opts.verbose_name %}<label class="control-label" for="id_{{ key }}">{{ value.opts.verbose_name }}{% if value.opts.required %}*{% endif %}: {% include "_include/_helptext_info_btn.html" %}</label><br>{% endif %}
                    {% if helptext_below and value.opts.description %}
                    <p class="small">{{ value.opts.description|raw }}</p>
                    {% endif %}
                    <select class="form-control" name="{{ key }}">
                        {% for choice_key, choice_value in value.choices %}
                        <option value="{{ choice_key }}" {% if value.value == choice_key %}selected{%endif%}>{{ choice_value.1 }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    {% if value.opts.verbose_name %}<label class="control-label" for="id_{{ key }}">{{ value.opts.verbose_name }}{% if value.opts.required %}*{% endif %}: {% include "_include/_helptext_info_btn.html" %}</label><br>{% endif %}
                    {% if helptext_below and value.opts.description %}
                    <p class="small">{{ value.opts.description|raw }}</p>
                    {% endif %}
                    {% for choice_key, choice_value in value.choices %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="{{ key }}" value="{{ choice_key }}" {% if value.value == choice_key %}checked{%endif%}>
                                {{ choice_value.1 }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if value.opts.type == "Iekadou\\Quickies\\TextField" %}
                {% if value.opts.verbose_name %}<label class="control-label" for="id_{{ key }}">{{ value.opts.verbose_name }}{% if value.opts.required %}*{% endif %}: {% include "_include/_helptext_info_btn.html" %}</label><br>{% endif %}
                <textarea class="form-control" id="id_{{ key }}" name="{{ key }}" placeholder="{{ value.opts.placeholder }}">{{ value.value }}</textarea>
            {% endif %}
            {% if value.opts.type == "Iekadou\\Quickies\\BooleanField" %}
                <strong>{{ value.opts.verbose_name }}</strong>
                {% if helptext_below and value.opts.description %}
                <p class="small">{{ value.opts.description|raw }}</p>
                {% endif %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="{{ key }}" value="on" {% if value.value %}checked{%endif%}>{{ value.opts.placeholder }}
                    </label>
                </div>
            {% endif %}
            {% if value.opts.type == "Iekadou\\Quickies\\ForeignKeyField" %}
                {% if value.opts.verbose_name %}<label class="control-label" for="id_{{ key }}">{{ value.opts.verbose_name }}{% if value.opts.required %}*{% endif %}: {% include "_include/_helptext_info_btn.html" %}</label><br>{% endif %}
                <select class="form-control" name="{{ key }}">
                    {% for choice_key, choice_value in value.choices %}
                    <option value="{{ choice_key }}" {% if value.value == choice_key %}selected{%endif%}>{{ choice_value }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            {% if value.opts.type == "Iekadou\\Quickies\\FileField" %}
                {% if value.opts.verbose_name %}<label class="control-label" for="id_{{ key }}">{{ value.opts.verbose_name }}{% if value.opts.required %}*{% endif %}: {% include "_include/_helptext_info_btn.html" %}</label><br>{% endif %}
                {% if helptext_below and value.opts.description %}
                <p class="small">{{ value.opts.description|raw }}</p>
                {% endif %}
                <div class="container-fluid">
                    <div class="row dropzone-wrapper">
                        <div class="col-md-8 dropzone" id="id_{{ key }}">
                            <div class="dropzone-upload-hint"><i class="fa fa-cloud-upload" style="font-size: 30px;"></i><br>{% _"You can drag and drop your file(s) here." %}</div>
                            <input type="file" name="{{ key }}[]" multiple="multiple" />
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="btn btn-primary dropzone-button" style="margin: 0 0 10px 0;">{% _"Upload file" %} <span class="fa fa-cloud-upload"></span></a>
                            <ul class="dropzone-list">{% for file in value.file_list %}
                                <li class="gray-bg file-wrapper" data-name="{{ key }}[]" data-value="{{ file.path }}"><a href="/{{ file.path }}" target="_blank">{{ file.file }}</a><a href="#" class="text-danger pull-right delete-file"><span class="fa fa-trash"></span></a><a href="#" class="text-brand pull-right undo-delete-file hide"><span class="fa fa-undo"></span></a></li>
                                {% endfor %}
                            </ul>
                            <ul class="dropzone-upload-list"></ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if value.opts.type == "Text" %}
            {% if value.opts.verbose_name %}<h3>{{ value.opts.verbose_name }}</h3>{% endif %}
            <p class="small">{{ value.opts.description|raw }}</p>
            {% else %}
                {% if helptext_below and value.opts.description and value.opts.type != "Iekadou\\Quickies\\FileField" and value.opts.type != "Iekadou\\Quickies\\IntegerChoiceField"  and value.opts.type != "Iekadou\\Quickies\\BooleanField" %}
                    <br><p class="small">{{ value.opts.description|raw }}</p>
                {% endif %}
            {% endif %}
            {% if value.opts.border_below %}
                <hr style="border-top: 2px dashed #eee">
            {% endif %}
        </div>
    {% endfor %}
</div>