{% lare_extends "__base.html" LARE_PREFIX "__lare.html" %}
{% block body_classes %}gray-bg{% endblock body_classes %}
{% block page %}
    <div id="page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-3" style="padding-top: 100px;">
                    <form class="form api-form" role="form" action="{% url 'api:forgot_password' %}" method="POST" enctype="multipart/form-data">
                        <h2>{% _"Forgot password" %}</h2>
                        <div class="form-group{% if error.identification %} has-error{% endif %}">
                            <label class="control-label" for="id_identification">{% _"E-mail or Username" %}:*</label>
                            <input type="text" name="identification" id="id_identification" class="form-control" value="" placeholder="" required="" autofocus="">
                        </div>
                        <p class="small">* {% _"Those fields are required." %}</p>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{% _"Recover password" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}
