{% lare_extends "__base.html" LARE_PREFIX "__lare.html" %}
{% block page %}
    <div id="page">
        <div class="home-hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>{% _"Welcome" %}</h1>
                        <p>{% _"Have fun at {{ SITE_NAME }}." {'{{ SITE_NAME }}': SITE_NAME }  %}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if not Account.is_logged_in %}
            <div class="container text-center">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <form class="api-form" role="form" action="{% url 'api:login' %}" method="POST">
                        <fieldset>
                            <input id="remember_me" type="hidden" name="remember_me" value="true">
                            <input type="hidden" value="{{ referrer }}" name="referrer">
                            <div class="form-group required clearfix">
                                <div class="controls">
                                    <input id="id_navbar_identification" class="form-control" maxlength="64" name="identification" type="text" placeholder="{% _"E-mail / Username" %}">
                                </div>
                            </div>
                            <div class="form-group required clearfix">
                                <div class="controls">
                                    <input id="id_navbar_password" class="form-control" name="password" type="password" placeholder="{% _"Password" %}">
                                </div>
                            </div>
                        </fieldset>
                        <a href="#" class="btn btn-primary btn-block btn-submit">{% _"Login" %}</a>
                    </form>
                    <br>
                    <a href="{% url 'forgot_password' %}">{% _"Forgot password" %}</a>
                </div>
            </div>
        {% else %}
        <div class="container text-center">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-4 col-lg-4 col-lg-offset-4">
                {% _"Logged in." %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock page %}
